<div class="flex space-x-4">
  <div class="w-80">
    <ul>
      <li ><a class="text-gray-600 hover:text-blue-500 " routerLink="/">All</a></li>
      @for (category of categories(); track category) {
        <li>
          <a class="text-gray-600 hover:text-blue-500 " routerLink="/"[queryParams]="{category: category}" routerLinkActive="router-link-active" > {{ category }} </a>
        </li>
      }
    </ul>
  </div>
  <div class="grid grid-cols-4 gap-8 mt-5 w-full">
    @for (product of products(); track product) {
      <app-product
        [product]="product"
        (addToCart)="addToCart($event)"
        />
    }
  </div>
</div>
